
.searchInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 360px;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput:focus {
  border-color: #595689;
  outline: none;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c2632;
  margin-bottom: 0.5rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}