.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    display: flex;
    color: white;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: #595689;
  }
  